figure,
figcaption {
  margin: 0;
  padding: 0;
}
.banner .ban1,
.banner .ban2,
.banner .ban3,
.banner .ban0 {
  width: 100%;
  background: no-repeat center center;
  background-size: 100% 100%;
  height: 100%;
}
.banner .ban0 {
  background-image: url(../../images/ban0.jpg);
}
.banner .ban1 {
  background-image: url(../../images/ban1.jpg);
}
.banner .ban2 {
  background-image: url(../../images/ban2.jpg);
}
.banner .ban3 {
  background-image: url(../../images/ban3.jpg);
}
.el-carousel__arrow {
  height: 100%;
  border-radius: 0;
  font-size: 50px  ;
  width: 50px;
  font-weight: normal;
}
.el-carousel__arrow--right {
  right: 0;
}
.el-carousel__arrow--left {
  left: 0;
}
.el-carousel__indicator .el-carousel__button {
  background: #fff;
  border-radius: 100%;
  cursor: pointer!important;
  height: 16px;
  opacity: .25;
  position: relative;
  transition: opacity .3s linear;
  width: 16px;
  z-index: 2;
}
.contain {
  width: 864px;
  margin: auto;
}
.pd-t {
  padding-top: 70px;
}
.s-text-guanyu {
  text-align: center;
  margin-bottom: 15px;
}
.s-text-guanyu strong {
  font-size: 36px;
  color: #999;
}
.s-font-heading {
  padding: 0 20px ;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 100;
}
.figInfo {
  text-align: center;
}
.figInfo a {
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  background: #ef494d;
  padding: 8px 16px;
}
.youxi-caption figure {
  width: 25%;
  display: inline-block;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}
.youxi-caption figure img {
  width: 100%;
  margin: auto;
}
.youxi-caption figure p:first-child {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 5px;
}
.mar-t-7 {
  margin-top: 70px;
}
hr {
  border-color: #ffd80033;
}
.anlie-caption figure {
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  text-align: center;
}
.anlie-caption figure img {
  width: 100%;
}
.anlie-caption figure p:first-child {
  color: #333;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 5px;
}
.anlie-caption figure p:last-child {
  color: #ef494d;
}
.mar-hen-10 {
  margin: 0 10px;
}
.mar-t-15 {
  margin-top: 15px;
}
.ail {
  text-align: center;
  color: #ccc;
  font-weight: 100;
}
.character {
  width: 45%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.character .position {
  text-align: center;
}
.character img {
  width: 100%;
}
.more-wrap {
  text-align: center;
  padding-bottom: 80px;
  background: #fff;
}
.more {
  color: #fff;
  background-color: #ef494d;
  padding: 8px 16px;
  border-radius: 5px;
  margin: auto;
}
.footer {
  height: 615px;
  box-sizing: border-box;
  background-image: url("../../images/indexfoot.jpg");
  background-size: 150% 100% ;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.footer .color-w strong {
  color: #fff!important;
}
.footer .tel {
  color: #fff;
}
